<div class="jumbotron" style="background-image: url(http://www.digitalmeetsculture.net/wp-content/uploads/2015/04/article.jpg); background-size: 100%; height:400px;">
   <div class="container for-about">
   <h1 class="text-center">Mongo Scrapper</h1>
   <h1 class="text-center"></h1>
   
   </div>
</div>

    {{#each articles}}
    
    <div class="">
      <div class="card-content white-text">
        <span class="card-title orange-text">
          <p>{{this.headline}}</[>
        </span>
        <p>{{this.summury}}</p>
        <p>{{this.url}}</p>
      </div>
      </div>
    </div>
    {{/each}}
