<div class="jumbotron" style="background-image: url(http://www.digitalmeetsculture.net/wp-content/uploads/2015/04/article.jpg); background-size: 100%; height:400px;">
   <div class="container for-about">
   <h1 class="text-center">Saved Articles</h1>
   <h1 class="text-center"></h1>
   
   </div>
</div>